    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        background: linear-gradient( #009688 0%, #009688 15%, #D8DBD7 15%, #D8DBD7 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .main-container {
        height: 90vh;
    }
    
    .chat-container {
        background-color: #EAEAEA;
        height: 100%;
    }
    
    .chat-user {
        border-left: 1px solid #D6D6D6;
        width: 100%
    }
    
    .h {
        height: 100%;
    }
    
    .list-container {
        background-color: #EAEAEA;
    }
    
    .user-icon {
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
    
    .light-blue {
        background-color: #8EDAFC;
        height: 80px;
    }
    
    .user-action {
        color: #B1B1B1;
    }
    
    .bell-icon {
        color: #8EDAFC;
    }
    
    .icon {
        background-color: #F2FBFF;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    
    ul {
        list-style: none;
    }
    
    .search-chat {
        background-color: #FAFAFA;
    }
    
    input::before {
        font-family: Font Awesome 5 Free;
        font-weight: 900;
        content: \f002;
    }
    
    .chat {
        background-image: url(../img/mine.jpg);
    }
    
    .messages-container {
        display: flex;
        flex-direction: column;
    }
    
    .message {
        width: max-content;
        max-width: 50%;
        padding: 5px;
        border-radius: 10px;
        margin-top: 10px;
        word-wrap: break-word;
    }
    
    .message-preview {
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .owner-message {
        background-color: #DCF8C6;
    }
    
    .sender-message {
        background-color: #FFFFFF;
    }
    
    .overflowY {
        overflow-y: scroll;
        overflow-x: hidden;
    }